<p>
    <h3>Title : <%= @love.title %></h3>
</p>
<p>
    <h3>Content : <%= @love.content %></h3>
</p>


<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_lofe_path %>
<%= link_to 'Delete', lofe_path(@love), method: :delete, data:{confirm: "Are you sure?"} %>
<%= link_to "Back", loves_path %>