<p>
    <h3>Title : <%= @love.title %></h3>
</p>
<p>
    <h3>Content : <%= @love.content %></h3>
</p>
<p>
    <%=image_tag @love.image.url %>
</p>

<%= link_to 'Edit', edit_love_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Delete', love_path(@love), method: :delete, data:{confirm: "Are you sure?"} %>